<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Users API</title>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Users API</h1>
    
    <div class="row">
        <div class="col-md-3 mb-4">
            <a href="{% url 'insertData' %}" class="btn btn-success btn-block">Insert Data</a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url 'viewAllData' %}" class="btn btn-primary btn-block">View All Data</a>
        </div>

        <!-- Search Single Data with ID Input -->
        <div class="col-md-3 mb-4">
            <form action="{% url 'viewSingleData' %}" method="POST" class="d-flex">
                {% csrf_token %}
                <input type="text" name="id" class="form-control mr-2" placeholder="Enter ID" required>
                <button type="submit" class="btn btn-info">Search</button>
            </form>
        </div>

        <!-- Delete Single Data with ID Input -->
        <div class="col-md-3 mb-4">
            <form action="{% url 'deleteData' %}" method="POST" class="d-flex">
                {% csrf_token %}
                <input type="text" name="id" class="form-control mr-2" placeholder="Enter ID" required>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <p>{{data}}</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
